/* Simple reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  min-height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: normal;
}

p {
  margin-bottom: 1rem;
}
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.container {
  width: 90%;
  margin: auto;
  max-width: 1300px;
}
.ant-modal-mask {
  background: rgb(0 0 0 / 84%) !important;
}
/* Flexbox utility */
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: start;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
